{% extends 'equestria/base.html' %}
{% load static %}

{% block title %}
    Equestria: Check dictionary
{% endblock %}

{% block scripts %}
    <link rel="stylesheet" href="{% static 'scripts/css/buttonstyle.css' %}">
{% endblock %}

{% block header %}
    {% include 'equestria/header.html' with active="cd" %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="col rounded lighter padding">
            <h1>Check dictionary</h1>
            {% if showWarningOov %}
            <p>There are no out of vocabulary words (OOV's) to check. </p>
            {% endif %}

                <form action="" method = "post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" class="btn btn-primary" value="Update dictionary and rerun FA">
                </form>
            <a class="btn btn-primary btn-style" href="{% url 'scripts:fa_overview' project=project %}">Continue to FA overview</a>
        </div>
    </div>
{% endblock %}

