{% extends 'equestria/base.html' %}
{% load static %}

{% block title %}
Check dictionary
{% endblock %}

{% block prebody %}
{% include "equestria/pipeline.html" with active="dictionary" %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="col rounded lighter padding">
            <h1>Check dictionary</h1>
                <form action="" method = "post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" class="btn btn-primary" value="Update dictionary and rerun FA">
                </form>
            <a class="btn btn-primary" href="{% url 'scripts:fa_overview' project=project %}">Continue to FA overview</a>
        </div>
    </div>
{% endblock %}

