{% extends 'equestria/base.html' %}
{% load static %}

{% block title %}
    Equestria: Forced alignment overview
{% endblock %}

{% block header %}
    {% include 'equestria/header.html' with active="fa_done" %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md rounded lighter padding">
                <h1>Forced alignment</h1>
                {% if success %}
                    <p class="alert alert-success">Your forced alignment was successful!</p>
                    <p>You can continue to analyze forced alignment or rerun your forced alignment with changes.</p>
		    <p>'download project archive' gives a Zip file with the aligned output (.out.tg) file.</p>
                {% else %}
                    <p class="alert alert-warning">Your forced alignment is not finished yet.</p>
                    <p>Please finish forced alignment before continuing.</p>
                {% endif %}
                <a class="btn btn-primary" href="{% url 'upload:upload_project' project=project %}">Go back to upload files</a>
                <a class="btn btn-primary" href="{% url 'scripts:cd_screen' project=project %}">Go back to alter dictionary</a>
                <a class="btn btn-primary" href="{% url 'scripts:project_download' project=project %}">Download project archive</a>
                <a class="btn btn-danger" href="{% url "scripts:delete_project" project=project %}">Delete project</a>
            </div>
        </div>
    </div>
{% endblock %}

