{% extends 'equestria/base.html' %}
{% load static %}

{% block title %}
Forced Alignment: Project
{% endblock %}

{% block navbaritems %}
{% include "equestria/pipeline.html" %}
{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-7 rounded lighter padding">
      <h3>{{ process.name }}</h3>
      <p class="">Status:</p>
      <strong><p id="process-django-status"></p></strong>
      <a href="{% url 'scripts:process_download' process=process %}" download class="btn btn-primary" id="process-download-button">Download results</a>
    </div>
    <div id="process-profiles" style="display: none;">
      {% for profile in profiles %}
      <div class="rounded lighter padding">
	{% include "profile.html" with profile=profile %}
      </div>
      {% endfor %}
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-4 rounded lighter padding">
      {% include "console_output.html" %}
    </div>
  </div>
</div>

{% endblock %}



{% block scripts %}
<script>
  var CSRF_TOKEN = "{{ csrf_token }}";
  var PROCESS_STATUS_URL = "{% url 'scripts:process_details' process=process.id %}";
</script>
<script src="{% static "scripts/js/process-update.js" %}"></script>
<script src="{% static "scripts/js/validate.js" %}"></script>
<script src="{% static "scripts/js/clock.js" %}"></script>
{% endblock %}
