{% extends 'equestria/base.html' %}
{% load static %}

{% block title %}
    Equestria: Forced alignment redirect
{% endblock %}

{% block header %}
    {% include 'equestria/header.html' with active="fa" %}
{% endblock %}

{% block body %}
    <div class="container">
        <h3>Automatic redirect failed</h3>
        <p>You are accessing this page but a script is already running, please click the button below to continue.</p>
        {% include 'scripts/project-continue.html' with project=project %}
    </div>
{% endblock %}
