{% extends 'equestria/base.html' %}
{% load static %}

{% block title %}
Equestria: Forced Alignment Error
{% endblock %}

{% block prebody %}
{% include "equestria/pipeline.html" with active="upload" %}
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col rounded lighter padding">
            <h1>Failed to start forced alignment</h1>
            <p>{{ error }}</p>
            <a class="btn btn-primary" href="{% url "upload:upload_project" project=project %}">Go back to uploading files</a>
            {% if parameter_form %}
                <h3>Set parameters</h3>
                <div class="rounded lighter padding mb-3">
                  <form class="md-form" method="POST">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                      {{ parameter_form }}
                      <input type="submit" value="Start script" class="btn btn-primary"/>
                    </div>
                  </form>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
