{% extends 'equestria/base.html' %}
{% load static %}

{% block title %}
    Equestria: G2P status
{% endblock %}

{% block header %}
    {% include 'equestria/header.html' with active="g2p" %}
{% endblock %}

{% block body %}
    <div class="container">
      <div class="row">
            <div class="col-md-7 rounded lighter padding">
                <h3>G2P is running</h3>
                <p class="">Status:</p>
                <strong><p id="process-django-status"></p></strong>
                <form class="md-form" action="" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Continue" style="display: none;" class="btn btn-primary" id="process-continue-button">
                </form>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-4 rounded lighter padding">
                {% include "scripts/console_output.html" %}
            </div>
      </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        var CSRF_TOKEN = "{{ csrf_token }}";
        var PROCESS_STATUS_URL = "{% url 'scripts:process_details' process=process %}";
    </script>
    <script src="{% static "scripts/js/process-update.js" %}"></script>
    <script src="{% static "scripts/js/validate.js" %}"></script>
    <script src="{% static "scripts/js/clock.js" %}"></script>
{% endblock %}
