
{% if project.status == project.UPLOADING %}
    <a class="btn btn-primary" href="{% url 'upload:upload_project' project=project %}">Continue</a>
{% elif project.status == project.FA_RUNNING %}
    <a class="btn btn-primary" href="{% url 'scripts:loading' project=project script=project.pipeline.fa_script %}">Continue</a>
{% elif project.status == project.G2P_RUNNING %}
    <a class="btn btn-primary" href="{% url 'scripts:loading' project=project script=project.pipeline.g2p_script %}">Continue</a>
{% else %}
    <a class="btn btn-primary" href="{% url 'scripts:cd_screen' project=project %}">Continue</a>
{% endif %}