{% extends 'equestria/base.html' %}
{% load static %}

{% block title %}
    Equestria: Start automatic Error
{% endblock %}

{% block header %}
    {% include "equestria/header.html" with active="fa" %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>Failed to automatically start {% if script == project.pipeline.fa_script %}Forced Alignment{% else %}G2P{% endif %}</h1>
                <p class="alert alert-danger">{{ message }}</p>
                {% if form %}
                    <form class="md-form" action="" method="post">
                        <div class="input-group mb-3">
                            {% csrf_token %}
                            {{ form }}
                            <input type="submit" value="Continue" class="btn btn-primary">
                        </div>
                    </form>
                {% endif %}
                {% if script == project.pipeline.fa_script %}<a class="btn btn-primary" href="{% url "upload:upload_project" project=project %}">Go back to uploading files</a>{% endif %}
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-4 rounded lighter padding">
                {% if profiles %}
                    <h2>Available profiles</h2>
                    <p>Below you will find the available profiles to run FA for. All required files for one profile
                    need to be uploaded before you can start forced alignment.</p>
                    {% for profile in profiles %}
                        <h3>Profile #{{ profile.id }}</h3>
                        <ul>
                            {% for template in profile.templates %}
                                <li>{{ template.label }}</li>
                                <ul>
                                    <li>This file must have the .{{ template.extension }} extension</li>
                                    {% if template.unique %}
                                        <li>This file must be unique</li>
                                    {% endif %}
                                    {% if template.optional %}
                                        <li>This file is optional</li>
                                    {% endif %}
                                </ul>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
