{% extends 'equestria/base.html' %}
{% load static %}

{% block title %}
    Equestria: Start automatic Error
{% endblock %}

{% block header %}
    {% include "equestria/header.html" with active="fa" %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col rounded lighter padding">
                <h1>Failed to automatically start Forced Alignment</h1>
                <p class="alert alert-danger">{{ message }}</p>
                {% if form %}
                    <form class="md-form" action="" method="post">
                        <div class="input-group mb-3">
                            {% csrf_token %}
                            {{ form }}
                            <input type="submit" value="Continue" class="btn btn-primary">
                        </div>
                    </form>
                {% endif %}
                <a class="btn btn-primary" href="{% url "upload:upload_project" project=project %}">Go back to uploading files</a>
            </div>
        </div>
    </div>
{% endblock %}
