{% extends 'progbase.html' %}
{% load static %}

{% block navbaritems %}
<li class="nav-item">
  <a class="nav-link waves-effect waves-light" href="upload_wav">Upload wav</a>
</li>
<li class="nav-item">
  <a class="nav-link waves-effect waves-light" href="upload_txt">Upload txt</a>
</li>
<li class="nav-item active">
  <a class="nav-link waves-effect waves-light" href="forced_alignment">Forced Alignment</a>
</li>
<li class="nav-item">
  <a class="nav-link waves-effect waves-light" href="update_dictionary">Update Dictionary</a>
</li>
<li class="nav-item">
  <a class="nav-link waves-effect waves-light" href="auto_segmentation">Automatic Segmentation</a>
</li>
<li class="nav-item">
  <a class="nav-link waves-effect waves-light" href="praat_scripts">Praat Scripts</a>
</li>
<li class="nav-item">
  <a class="nav-link waves-effect waves-light" href="download_results">Download Results</a>
</li>
{% endblock %}
{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-7" id="entry-list">
      <div>
        <h5>Process {{ process.name }}</h5>
        <div id="process_profile_overview" style="display: none;">
          {% for profile in process.profiles %}
          <form method="post" class="accent-darker shadow rounded padding" id="form_{{ profile.id }}" enctype="multipart/form-data">
            {% csrf_token %}
            <h5>Profile {{ forloop.counter }}</h5>
            {%  for input_template in profile.input_templates %}
            {{ input_template.label }}
            <br />
            <input type="file" accept="{{ input_template.extension }}" name="template_id_{{ input_template.id }}" {% if not input_template.optional %} required {% endif %} />
            <p>Accepts {{ input_template.extension }}</p>
            {% endfor %}
            <input type="hidden" name="form_handler" value="run_profile"/>
            <input type="hidden" name="profile_id" value="{{ profile.id }}"/>
            <input type="submit" class="btn btn-md" value="Run" id="button_{{ profile.id }}">
          </form>
          {% endfor %}
        </div>
        <button value="submit" style="display: none;" id="process_download_button">Download files</button>
        <div class="container-fluid">
            <h5>Status: </h5>
            <p id="process_status_message">
                Status message is loading...
            </p>
        </div>
      </div>
    </div>
    <div class="col-md-5 lighter shadow padding rounded">
      <h5>Console Output</h5>
      <p class="clock"></p>
      <p>Showing file: <code id="file_to_load">{{ process.name }}/output/error.log</code></p>
      <div class="shadow padding" style="height: 90%">
	<div id="console_output" ></div>
	<!-- {% if not script_run %} -->
	<!-- <p> -->
	  <!--     <\!-- I wanted to print the output of the command here live (for transparency/debugging by the user), but we probably need a websocket or AJAX for that -\-> -->
	    <!-- </p> -->
	<!-- {% else %} -->
	<!-- <p>Running script with name <code>{{ script_run }}</code>...</p> -->
	<!-- <p>This is passed via the backend btw, not js</p> -->
	<!-- <p>Look at the ./manage.py runserver output in your console</p> -->
	<!-- <p>Done. Script ran <span style="color: green">successfully</span>!</p> -->
	<!-- {% endif %} -->
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    STATUS_URL = "{% url 'script_runner:process_details' process_id=process.id %}";
    CSRF_TOKEN = "{{ csrf_token }}";
</script>
<script src="{% static 'fancybar/js/search.js' %}"></script>
<script src="{% static 'fancybar/js/dropdown.js' %}"></script>
<script src="{% static 'fancybar/js/clock.js' %}"></script>
<script src="{% static 'fancybar/js/output_loading.js' %}"></script>
<script src="{% static 'script_runner/js/process_reload.js' %}"></script>
{% endblock %}
