<form method="post" id="form_{{ profile.id }}" enctype="multipart/form-data">
  {% csrf_token %}
  <h5>Profile {{ forloop.counter }}</h5>
  {% for input_template in profile.input_templates %}
  <label for="{{ input_template.id }}">{{ input_template.label }}</label>
  <input type="file" onChange="validate(this, this.value, {{ forloop.counter }},['{{ input_template.extension }}'])"
	 name="template_id_{{ input_template.id }}"
         {% if not input_template.optional %} required {% endif %} />
  <!-- accept="{{ input_template.mime }}" -->
  <p id="p{{ forloop.counter }}">Accepts {{ input_template.extension }}</p>
  {% endfor %}
  <input type="hidden" name="profile_id" value="{{ profile.id }}"/>
  <input type="submit" class="btn btn-md" value="Run">
</form>
