:root {
    --background-color: #292929;
    --background-lighter: #373737;
    --accent-color: #18bc9c;
    --accent-darker: #1c613f;
    --text-color: #ffeeee;
}

.lighter {
    background-color: var(--background-lighter) !important;
    color: var(--text-color) !important;
}

.accent {
    background-color: var(--accent-color) !important;
}

.accent-darker {
    background-color: var(--accent-darker) !important;
}

.accent-border {
    border: 1px solid var(--accent-color);
}

.bg-border {
    border: 1px solid var(--background-color);
}

body {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
}

button:not(.hamburger):not(.navbar-toggler) {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
}

a {
    color: var(--text-color) !important;
}

a:hover {
    color: var(--accent-color) !important;
}

.list-element a {
    color: var(--text-color) !important;
}

.list-element :hover {
    color: var(--accent-color) !important;
    text-shadow: var(--background-color);
}

.text-secondary {
    color: var(--text-color) !important;
}

hr {
    border-color: var(--text-color) !important;
}

iframe {
    width: 100%;
}

.btn-accent {
    background-color: var(--accent-color);
}

.btn-accent:hover {
    background-color: var(--accent-darker);
}

.panel-body {
    background-color: var(--background-lighter);
}

.list-item:hover {
    color: var(--accent-color);
}

.list-item-current {
    background-color: var(--background-lighter) !important;
}
ul.chevronbar li:after {
    border-left-color: var(--background-lighter) !important; /* front */

}
ul.chevronbar li {
    border: 1px solid var(--background-lighter);
    background:var(--background-lighter);
}
ul.chevronbar li:before {
    border-top-color: var(--background-lighter) !important; /* upper left */
    border-bottom-color: var(--background-lighter) !important; /* lower left */
    border-right-color: var(--background-lighter) !important; /* left middle */
 }
li.nav-item.active  {
    background: var(--accent-darker) !important;
}
li.nav-item.active:after {
    border-left-color: var(--accent-darker) !important; /* front */
}
li.nav-item.active:before {
    border-top-color: var(--accent-darker) !important; /* upper left */
    border-bottom-color: var(--accent-darker) !important; /* lower left */
    border-right-color: var(--accent-darker) !important; /* left middle */
}

input {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
}

.fab-circle {
    	background-color: var(--accent-darker);
	color: var(--text-color);
	box-shadow: 2px 2px 3px var(--background-lighter);
}

.fab {
    background-color: var(--accent-darker);
    color: var(--text-color);
    box-shadow: 2px 2px 3px var(--background-lighter);
}

.fab-inactive {
    background-color: var(--background-lighter);
    color: var(--background);
    box-shadow: 2px 2px 3px var(--background-lighter);
}
