<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">

	{% for cat in site.data.cats %}
	<button class="dropdown-btn">{{ cat.name }}</button>
	<div class="dropdown-container">
      	{% for node in site.pages %}
        	{% if node.category == cat.name %}
        		 {% if node.title != null %}
          			{% if node.layout == "page" %}
          			<a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="/CLST-2020{{ node.url }}">{{ node.title }}</a>
          			
        	  		{% endif %}
        		{% endif %}	
        	{% endif %}
		{% endfor %}
	</div>
	{% endfor %}
	
			

      <a class="sidebar-nav-item" href="https://github.com/GipHouse/CLST-2020">GitHub project</a>
    </nav>
  </div>
</div>

<style>

.dropdown-container {
  display: none;
  padding-left: 10px;
}
.dropdown-btn {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;
  border: none;
  padding-left: 0px;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
</style>
<script>
/* Loop through all dropdown buttons */
var dropdown = document.getElementsByClassName("dropdown-btn");
var i;
for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
  this.classList.toggle("active");
  var dropdownContent = this.nextElementSibling;
  if (dropdownContent.style.display === "block") {
  dropdownContent.style.display = "none";
  } else {
  dropdownContent.style.display = "block";
  }
  });
}
</script>
