{% load static %}
{% load process_check %}

{% if project %}
    {% check_project project=project as project_status %}
{% else %}
    {% check_project as project_status %}
{% endif %}
<nav class="container-fluid nav navbar-light navbar-expand-md">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#pipelineResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="pipelineResponsive">
            <a class="nav-link waves-effect waves-light" href="{% url 'scripts:projects' %}">Select project</a>
            <i class="fas fa-arrow-right"></i>
            {% if project and active != "project" %}
                <a class="nav-link waves-effect waves-light" href="{% url 'upload:upload_project' project=project %}">Upload files</a>
            {% else %}
                <p class="non-link">Upload files</p>
            {% endif %}
            <i class="fas fa-arrow-right"></i>
            {% if project and active != "project" and active != "upload" or project and project_status == "Finished" %}
                <a class="nav-link waves-effect waves-light" href="{% url 'scripts:cd_screen' project=project %}">Check dictionary</a>
            {% elif project and project_status == "FA" %}
                <a class="nav-link waves-effect waves-light" href="{% url 'scripts:fa_start' project=project %}">Check dictionary</a>
            {% elif project and project_status == "G2P" %}
                <a class="nav-link waves-effect waves-light" href="{% url 'scripts:g2p_start' project=project %}">Check dictionary</a>
            {% else %}
                <p class="non-link">Check dictionary</p>
            {% endif %}
            <i class="fas fa-arrow-right"></i>
            {% if project and active != "project" and active != "upload" or project and project_status == "Finished" %}
                <a class="nav-link waves-effect waves-light" href="{% url 'scripts:fa_overview' project=project %}">Forced Alignment</a>
            {% elif project and project_status == "FA" %}
                <a class="nav-link waves-effect waves-light" href="{% url 'scripts:fa_start' project=project %}">Forced Alignment</a>
            {% elif project and project_status == "G2P" %}
                <a class="nav-link waves-effect waves-light" href="{% url 'scripts:g2p_start' project=project %}">Forced Alignment</a>
            {% else %}
                <p class="non-link">Forced Alignment</p>
            {% endif %}
            <i class="fas fa-arrow-right"></i>
            {% if project and active != "project" and active != "upload" and active != "forced" and active != "dictionary" %}
                <a class="nav-link waves-effect waves-light" href="{% url 'auto_segmentation' %}">Automatic Segmentation</a>
            {% else %}
                <p class="non-link">Automatic Segmentation</p>
            {% endif %}
            <i class="fas fa-arrow-right"></i>
            {% if project and active != "project" and active != "upload" and active != "forced" and active != "dictionary" %}
                <a class="nav-link waves-effect waves-light" href="#">Analysis</a>
            {% else %}
                <p class="non-link">Analysis</p>
            {% endif %}
        </div>
    </div>
</nav>
<link rel="stylesheet" href="{% static 'equestria/css/pipeline.css' %}">