{% extends 'equestria/base.html' %}
{% load static %}

{% block title %}
Equestria: Home
{% endblock %}

{% block navbaritems %}
{% include "equestria/pipeline.html" with active="none" %}
{% endblock %}

{% block body %}
<div class="rounded shadow lighter padding">
  <h1>Welcome to Equestria!</h1>
  <h4>With this tool you will be able to perform forced alignment and analyse the result using Praat scripts. </h4>
  <a href="{% url 'scripts:projects' %}">
    <span class="btn btn-dark" id="inputGroupFileAddon02">Start your adventure!</span>
  </a>
</div>
{% endblock %}
