{% extends 'equestria/base.html' %}
{% load static %}

{% block title %}
    Equestria: Home
{% endblock %}

{% block body %}
    <div class="container">
        <div class="container-fluid mb-5 mt-5">
            <h1>Equestria</h1>
            <h4>A Forced Alignment Pipeline</h4>
            <p>This tool is hosted by the <a href="https://www.ru.nl/clst/">Centre of Language and Speech Technology</a>
                in Nijmegen and was proudly built by students of Computing Science employed at
                <a href="https://giphouse.github.io">GiPHouse</a>.</p>
        </div>
        <div class="container-fluid">
            {% if user.is_authenticated %}
                <h2>Start your first project</h2>
                <p>Before you can start forced alignment, you have to create a project.</p>
                <a href="{% url 'scripts:projects' %}" class="btn btn-primary">Project overview</a>
            {% else %}
                <h2>Log in to continue</h2>
                <a href="{% url 'accounts:login' %}" class="btn btn-primary">Log in</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
