body {
    margin-bottom: 100px;
}

.icon-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}

p.non-link {
    padding: .5rem 1rem;
    margin: 0;
}

.pipeline-collapse {
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .pipeline-collapse ul li {
        width: 100%;
    }

    .pipeline-collapse ul li.icon-centered svg.fa-arrow-right {
        display: none;
    }

    .pipeline-collapse ul li {
        display: none;
    }

    .pipeline-collapse ul li.active {
        display: block;
    }

    .pipeline-collapse ul li.active:before {
        content: 'Current page: ';
    }
}