.icon-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}

p.non-link {
    padding: .5rem 1rem;
    margin: 0;
}

.pipeline-collapse ul li.icon-centered svg.fa-arrow-down {
    display: none;
}

@media screen and (max-width: 800px) {
    .pipeline-collapse ul li {
        width: 100%;
        font-size: 10pt;
    }

    .pipeline-collapse ul li.icon-centered svg.fa-arrow-right {
        display: none;
    }

    .pipeline-collapse ul li.icon-centered svg.fa-arrow-down {
        display: block;
    }
}