{% extends 'progbase.html' %}

{% load static %}

{% block title %}
Forced Alignment
{% endblock %}

{% block style %}
{% endblock %}

{% block prebody %}
{% endblock %}

{% block navbaritems %}
<li class="nav-item">
    <a class="nav-link waves-effect waves-light" href="upload_wav">Upload wav</a>
</li>
<li class="nav-item">
    <a class="nav-link waves-effect waves-light" href="upload_txt">Upload txt</a>
</li>
<li class="nav-item active">
    <a class="nav-link waves-effect waves-light" href="forced_alignment">Forced Alignment</a>
</li>
<li class="nav-item">
    <a class="nav-link waves-effect waves-light" href="update_dictionary">Update Dictionary</a>
</li>
<li class="nav-item">
    <a class="nav-link waves-effect waves-light" href="auto_segmentation">Automatic Segmentation</a>
</li>
<li class="nav-item">
    <a class="nav-link waves-effect waves-light" href="praat_scripts">Praat Scripts</a>
</li>
<li class="nav-item">
    <a class="nav-link waves-effect waves-light" href="download_results">Download Results</a>
</li>
{% endblock %}

{% block body %}
<div class="rounded shadow lighter padding">
    <!-- TODO: can we show some sort of progress bar?/show whats happening? -->
    <span class="btn btn-dark">Do forced alignment</span>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
