{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'fancybar/chevron.css' %}" rel="stylesheet">
</head>
<body>
<br>
<div class="row-fluid">
    <ul id="wizard-view-tabs2" class="chevronbar">
        <li class="first" name="Run-Parameters">
            <a class="" href="#">Run Parameters</a>
        </li>
        <li class="active">
            <a class="" href="#Application" title="Application">Application</a>
        </li>
        <li class=""  class="">
            <a class="" href="#Kits" title="Kits">Kits</a>
        </li>
        <li class=""  class="">
            <a class="" href="#Monitoring" title="Monitoring">Monitoring</a>
        </li>
        <li class=""  class="">
            <a class="" href="#Reference/Region" title="Reference/Region">Reference/Region</a>
        </li>
        <li class=""  class="">
            <a class="" href="#Plugins" title="Plugins">Plugins</a>
        </li>
        <li class="last"  class="active">
            <a class="" href="#Output" title="Output">Output</a>
        </li>
    </ul>
</div>

</body>
</html>
