{% extends 'progbase.html' %}
{% load static %}

{% block title %}
Run Praat Script
{% endblock %}

{% block style %}
<link href="{% static 'fancybar/css/dropdown.css' %}" type="text/css" />
{% endblock %}

{% block prebody %}
{% endblock %}

{% block navbaritems %}

{% include "header.html" with active="praat" %}
{% endblock %}

{% block fab %}
<a href="#" class="fab" id="download-button">
  <i class="fa fa-download fab-glyph"></i>
</a>
<ul class="fab-list">
  <li class="fab-list-element"><a class="fab-circle fab-text" href="#">
      zip
  </a></li>
  <li class="fab-list-element"><a class="fab-circle fab-text" href="#">
      tar.gz
  </a></li>
  <li class="fab-list-element"><a class="fab-circle fab-text" href="#">
      tar.bz2
  </a></li>
</ul>

{% endblock %}

{% block body %}
<!--
    <div class="rounded shadow lighter padding">
      <select class="mdb-select md-form">
	<option value="" disabled selected>Choose a script</option>
	{% for script in scripts %}
	<option value="" data-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg" class="rounded-circle">
          {{ script.name }}
	</option>
	{% endfor %}
      </select>
      <br />
      <span class="btn btn-dark">Run script</span>
    </div>
    -->


    {% if download_in_progress %}
    <div id="notification-bar" class="regular closable shadow accent rounded container-fluid clickable" onclick="$('#notification-bar').fadeOut()">
      <div class="row">
	<div class="nb-content-wrapper col-md-11">
          <div class="nb-text-wrapper">
            <div class="nb-headline-text">
	      <h4>Your download is being prepared and will start soon...</h4>
            </div>
          </div>
	</div>
	<div class="nb-close-wrapper col-md-1">
	  <h2 class="icon-close">&#10006;</h2>
	</div>
      </div>
    </div>
    {% endif %}

    <br />
    <h3>Please select a script to run:</h3>

    <form method="post" class="accent-darker shadow rounded" id="form_create_project">
      {% csrf_token %}
      <input type="hidden" name="form_handler" value="create_project"/>
      <input type="submit" class="btn btn-md" value="Create" id="button_create_project">
    </form>

    <br />
    <br /><br /><br /><br /><br />
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-7" id="entry-list">
          <div class="row shadow rounded">
            <div class="search col-md-12 lighter padding shadow rounded">
	      <span class="fa fa-search"></span>
	      <input type="text" id="searchbar" onkeyup="search()" class="rounded shadow" style="width:90%; float:right" name="search" placeholder="Search..">
            </div>
          </div>
          <br />
          {% for process in processes %}
          <div class="row shadow rounded entry">
            <div class="col-md-3 lighter padding" type="button" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}">
	      {% if script.img %}
              <img class="rounded-circle shadow bg-border" width="100px" height="100px" src="{{ script.img.url }}" alt="{{ script.icon }}" />
	      {% else %}
	      <img class="rounded-circle shadow bg-border" width="100px" height="100px" src="https://static.tvtropes.org/pmwiki/pub/images/830px-Mysterious_Mare_Do_Well-1_9628.png" alt="{{ script.icon }}" />
	      {% endif %}
            </div>
            <div class="col-md-9 lighter padding" type="button" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}" onclick="select_output('{{ process.name }}')">
              <h5>{{ process.name }}</h5>
              <p>{{ process.description }}</p>
            </div>
	    {% include "profile_card.html" %}
	  </div>
          {% if not forloop.last %}
          <br />
          {% endif %}
          {% endfor %}
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-4 lighter shadow padding rounded">
          <h5>Console Output</h5>
	  <p class="clock"></p>
	  <p>Showing file: <code id="file_to_load">None</code></p>
          <div class="shadow padding" style="height: 90%">
	    <div id="console_output" ></div>
	    <!-- {% if not script_run %} -->
	    <!-- <p> -->
	      <!--     <\!-- I wanted to print the output of the command here live (for transparency/debugging by the user), but we probably need a websocket or AJAX for that -\-> -->
	        <!-- </p> -->
	    <!-- {% else %} -->
	    <!-- <p>Running script with name <code>{{ script_run }}</code>...</p> -->
	    <!-- <p>This is passed via the backend btw, not js</p> -->
	    <!-- <p>Look at the ./manage.py runserver output in your console</p> -->
	    <!-- <p>Done. Script ran <span style="color: green">successfully</span>!</p> -->
	    <!-- {% endif %} -->
          </div>
        </div>
      </div>
    </div>
    {% endblock %}

    {% block scripts %}
    <script>
      CSRF_TOKEN = "{{ csrf_token }}";
      PROCESS_LIST = [
	  {% for process in processes %}[{{ process.id }}, "{% url 'script_runner:process_details' process_id=process.id %}"],{% endfor %}
      ];
    </script>
    <script src="{% static 'fancybar/js/search.js' %}"></script>
    <script src="{% static 'fancybar/js/dropdown.js' %}"></script>
    <script src="{% static 'fancybar/js/clock.js' %}"></script>
    <script src="{% static 'fancybar/js/validate.js' %}"></script>
    <script src="{% static 'script_runner/js/process_reload.js' %}"></script>
    <script defer>
      function select_output(process_name) {
	  $("#file_to_load").text(process_name + "/output/error.log");
      }
    </script>
    {% endblock %}
