{% extends 'progbase.html' %}

{% load static %}

{% block title %}
Run Praat Script
{% endblock %}

{% block style %}
{% endblock %}

{% block prebody %}
{% endblock %}

{% block navbaritems %}
<li class="nav-item">
  <a class="nav-link waves-effect waves-light" href="upload_wav">Upload wav</a>
</li>
<li class="nav-item">
  <a class="nav-link waves-effect waves-light" href="upload_txt"><i class="fas fa-upload"></i>Upload txt</a>
</li>
<li class="nav-item">
  <a class="nav-link waves-effect waves-light" href="forced_alignment">Forced Alignment</a>
</li>
<li class="nav-item">
  <a class="nav-link waves-effect waves-light" href="update_dictionary">Update Dictionary</a>
</li>
<li class="nav-item">
  <a class="nav-link waves-effect waves-light" href="auto_segmentation">Automatic Segmentation</a>
</li>
<li class="nav-item active">
  <a class="nav-link waves-effect waves-light" href="praat_scripts">Praat Scripts</a>
</li>
<li class="nav-item">
  <a class="nav-link waves-effect waves-light" href="download_results">Download Results</a>
</li>
{% endblock %}

{% block body %}
<div class="rounded shadow lighter padding">
<h3>I originally wanted a simple selection like this, but all good designs are pricy:</h3>
<a href="https://themes.getbootstrap.com/product/material-kit-pro/">800USD for a cool button</a>
<br />
<select class="mdb-select md-form">
  <option value="" disabled selected>Choose a script</option>
  {% for script in scripts %}
  <option value="" data-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg" class="rounded-circle">
    {{ script.name }}
  </option>
  {% endfor %}
</select>
<h3>So I made my own selection:</h3>
</div>

<br /><br /><br />
<h3>Please select a script to run:</h3>
<br />
<div class="container-fluid">
  <div class="row">
    <div class="col-md-7">
      {% for script in scripts %}
      <div class="row shadow rounded">
	<div class="col-md-4 lighter padding">
	  <img class="rounded-circle shadow bg-border" width="100px" height="100px" src="{{ script.img.url }}" alt="{{ script.icon }}" />
	</div>
	<div class="col-md-6 lighter padding">
	  <h5>{{ script.name }}</h5>
	  <p>{{ script.desc }}</p>
	</div>
	<div class="col-md-2 lighter padding">
	  <a class="btn btn-sm">
	    Run
	  </a>
	</div>
      </div>
      {% if not forloop.last %}
      <br />
      {% endif %}
      {% endfor %}
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-4 lighter shadow padding rounded">
      <h5>Console Output</h5>
      <div class="shadow padding" style="height: 90%">
	
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
