{% extends 'progbase.html' %}
{% load static %}

{% block title %}
Run Praat Script
{% endblock %}

{% block style %}
<link href="{% static 'fancybar/css/dropdown.css' %}" type="text/css" />
{% endblock %}

{% block prebody %}
{% endblock %}

{% block navbaritems %}
<li class="nav-item">
    <a class="nav-link waves-effect waves-light" href="upload_wav">Upload wav</a>
</li>
<li class="nav-item">
    <a class="nav-link waves-effect waves-light" href="upload_txt">Upload txt</a>
</li>
<li class="nav-item">
    <a class="nav-link waves-effect waves-light" href="forced_alignment">Forced Alignment</a>
</li>
<li class="nav-item">
    <a class="nav-link waves-effect waves-light" href="update_dictionary">Update Dictionary</a>
</li>
<li class="nav-item">
    <a class="nav-link waves-effect waves-light" href="auto_segmentation">Automatic Segmentation</a>
</li>
<li class="nav-item active">
    <a class="nav-link waves-effect waves-light" href="praat_scripts">Praat Scripts</a>
</li>
<li class="nav-item">
    <a class="nav-link waves-effect waves-light" href="download_results">Download Results</a>
</li>
{% endblock %}

{% block body %}
<!--
<div class="rounded shadow lighter padding">
<select class="mdb-select md-form">
    <option value="" disabled selected>Choose a script</option>
    {% for script in scripts %}
    <option value="" data-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg" class="rounded-circle">
        {{ script.name }}
    </option>
    {% endfor %}
</select>
<br />
<span class="btn btn-dark">Run script</span>
</div>
-->
<br />
<h3>Please select a script to run:</h3>

<br />
<br /><br /><br /><br /><br />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-7" id="entry-list">
          <div class="row shadow rounded">
            <div class="search col-md-12 lighter padding shadow rounded">
	      <span class="fa fa-search"></span>
	      <input type="text" id="searchbar" onkeyup="search()" class="rounded shadow" style="width:90%; float:right" name="search" placeholder="Search..">
            </div>
          </div>
            <br />
            {% for script in scripts %}
            <form method="post" class="accent-darker shadow rounded" id="form_{{ script.id }}">
	      {% csrf_token %}
	      <input type=hidden name="script_name" value="{{ script.name }}"/>
	      <input type=hidden name="script_id" value="{{ script.id }}"/>
              <div class="row shadow rounded entry">
		  <div class="col-md-3 lighter padding" type="button" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}">
	            <img class="rounded-circle shadow bg-border" width="100px" height="100px" src="{{ script.img.url }}" alt="{{ script.icon }}" />
		  </div>
		  <div class="col-md-9 lighter padding" type="button" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}">
	            <h5>{{ script.name }}</h5>
	            <p>{{ script.description }}</p>
		  </div>
	    
	    <div class="collapse padding-xl" id="collapse{{ forloop.counter }}">
	      {% for argument in script.args %}
	      <h5>{{ argument.name }}</h5>
	      <p>{{ argument.description }}</p>
	      {% if argument.arg_type == USER_SPECIFIED_FILE %}
  	          <input type="file" name="script_{{ script.id }}_argument_{{ argument.id }}" {% if argument.required %} required {% endif %}/>
	      {% elif argument.arg_type == USER_SPECIFIED_TEXT %}
	          <input type="text" name="script_{{ script.id }}_argument_{{ argument.id }}" {% if argument.required %} required {% endif %}/>
	      {% elif argument.arg_type == USER_SPECIFIED_BOOL %}
	          <input type="checkbox" name="script_{{ script.id }}_argument_{{ argument.id }}" {% if argument.required %} required {% endif %}/>
	      {% elif argument.arg_type == USER_SPECIFIED_INT %}
	          <input type="number" name="script_{{ script.id }}_argument_{{ argument.id }}" {% if argument.required %} required {% endif %}/>
	      {% else %}
	          <p>You should not be able to see this text.</p>
	      {% endif %}
	      {% if not forloop.last %}
		  <br /><hr/>
              {% endif %}
	      {% endfor %}
		  <br />
	      <input type="submit" class="btn btn-md" value="Run" id="button_{{ script.id }}">
	    </div>
	    
              </div>
	      <script>
		$( document ).ready(function() {
		    $(function() {
			$('#form_{{ script.id }}').on('submit', function(e) {
			    e.preventDefault();
			    $.post('praat_scripts', $(this).serialize(), function (data) {
				// This is executed when the call to mail.php was succesful.
				// 'data' contains the response from the request
			    })
			});
		    });
		});
	      </script>
            </form>
            {% if not forloop.last %}
            <br />
            {% endif %}
            {% endfor %}
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-4 lighter shadow padding rounded">
            <h5>Console Output</h5>
            <div class="shadow padding" style="height: 90%">
	        {% if not script_run %}
	        <p>
	            <!-- I wanted to print the output of the command here live (for transparency/debugging by the user), but we probably need a websocket or AJAX for that -->
	        </p>
	        {% else %}
	        <p>Running script with name <code>{{ script_run }}</code>...</p>
	        <p>This is passed via the backend btw, not js</p>
	        <p>Look at the ./manage.py runserver output in your console</p>
	        <p>Done. Script ran <span style="color: green">successfully</span>!</p>
	        {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'fancybar/js/search.js' %}"></script>
<script src="{% static 'fancybar/js/dropdown.js' %}"></script>
{% endblock %}
