{% extends 'base.html' %}

{% load static %}

{% block title %}
Progess bar test
{% endblock %}

{% block head %}
<link href="{% static 'fancybar/css/chevron.css' %}" rel="stylesheet">
{% endblock %}

{% block style %}
{% endblock %}

{% block prebody %}
{% endblock %}

{% block progress %}
<br>
<div>
    <ul id="wizard-view-tabs2" class="chevronbar">
        <li class="first" name="Default">
            <a class="" href="#Default">Default</a>
        </li>
        <li class="active">
            <a class="" href="#A" title="A">A</a>
        </li>
        <li class=""  class="">
            <a class="" href="#B" title="B">B</a>
        </li>
        <li class=""  class="">
            <a class="" href="#C" title="C">C</a>
        </li>
        <li class=""  class="">
            <a class="" href="#D" title="D">D</a>
        </li>
        <li class=""  class="">
            <a class="" href="#E" title="E">E</a>
        </li>
	<li class=""  class="">
            <a class="" href="#E" title="E">EE</a>
        </li>
        <li class="last"  class="active">
            <a class="" href="#F" title="F">F</a>
        </li>
    </ul>
</div>
<br><br><br>
{% endblock %}

{% block body %}
{% endblock %}

{% block scripts %}
{% endblock %}
