{% extends 'base.html' %}

{% load static %}

{% block title %}
Progess bar test
{% endblock %}

{% block head %}
<link href="{% static 'fancybar/css/chevron.css' %}" rel="stylesheet">
<script src="{% static 'fancybar/js/chevron.js' %}"></script>
{% endblock %}

{% block style %}
{% endblock %}

{% block prebody %}
{% endblock %}

{% block progress %}
<br>
<nav class="navbar navbar-fixed-top navbar-expand-sm navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto chevronbar">
	  {% block navbaritems %}
	  {% endblock %}
        </ul>
    </div>
    <br><br><br>
</nav>
<br>
{% endblock %}

{% block body %}
{% endblock %}

{% block scripts %}
{% endblock %}
