{% extends 'progbase.html' %}

{% load static %}

{% block title %}
Dear princess Celestia
{% endblock %}

{% block style %}
{% endblock %}

{% block prebody %}
{% endblock %}

{% block body %}
<h1 align="center">Today my friends and I solved the Riemann ζ function, prooved P=NP, colonized Titan, managed to call our ISP without being placed on hold, increased the global GPD by 1337%, reversed climate change and explained Maxwells equations to an unborn fetus, all with the power of friendship, of course! :)</h1>
<br>
<h3 align="right">- Your best student, Twilight Sparkle!<h3>


{% endblock %}

{% block scripts %}
{% endblock %}
