{% extends 'progbase.html' %}
{% load static %}

{% block title %}
Home Page
{% endblock %}

{% block style %}
{% endblock %}

{% block prebody %}
{% endblock %}

{% block navbaritems %}
    {% include "header.html" with active="wav" %}
{% endblock %}

{% block body %}
<div class="rounded shadow lighter padding">
    <h1>Welcome to Equestria!</h1>
    <h4>With this tool you will be able to perform forced alignment and analyse the result using Praat scripts. </h4>
    <a href="upload:uploadwav_form">
        <span class="btn btn-dark" id="inputGroupFileAddon02">Start your adventure!</span>
    </a>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}