{% extends 'progbase.html' %}
{% load static %}

{% block title %}
Upload wav
{% endblock %}

{% block style %}
{% endblock %}

{% block prebody %}
{% endblock %}

{% block navbaritems %}
<li class="nav-item active">
    <a class="nav-link waves-effect waves-light" href="upload_wav">Upload wav</a>
</li>
<li class="nav-item">
    <a class="nav-link waves-effect waves-light" href="upload_txt"><i class="fas fa-upload"></i>Upload txt</a>
</li>
<li class="nav-item">
    <a class="nav-link waves-effect waves-light" href="forced_alignment">Forced Alignment</a>
</li>
<li class="nav-item">
    <a class="nav-link waves-effect waves-light" href="update_dictionary">Update Dictionary</a>
</li>
<li class="nav-item">
    <a class="nav-link waves-effect waves-light" href="auto_segmentation">Automatic Segmentation</a>
</li>
<li class="nav-item">
    <a class="nav-link waves-effect waves-light" href="praat_scripts">Praat Scripts</a>
</li>
<li class="nav-item">
    <a class="nav-link waves-effect waves-light" href="download_results">Download Results</a>
</li>
{% endblock %}

{% block body %}
<div class="rounded shadow lighter padding">
    <h3>Use CTRL+click to select multiple files:</h3>
    <form class="md-form" action="#">
        <div class="input-group mb-3">
            <div class="custom-file">
                <input type="file" multiple class="custom-file-input" id="inputGroupFile02">
                <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose wav files</label>
            </div>
        </div>
        <span class="btn btn-dark" id="inputGroupFileAddon02">Upload wav files</span>
    </form>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
