{% extends 'progbase.html' %}
{% load static %}

{% block title %}
Upload wav
{% endblock %}

{% block style %}
{% endblock %}

{% block prebody %}
{% endblock %}

{% block navbaritems %}
    {% include "header.html" with active="wav" %}
{% endblock %}

{% block body %}
<div class="rounded shadow lighter padding">
    <!-- TODO: can we check if the files are .wav? -->
    <h3>Use CTRL+click to select multiple files:</h3>
    <form class="md-form" action="#">
        <div class="input-group mb-3">
            <div class="custom-file">
                <input type="file" multiple class="custom-file-input" id="inputGroupFile02">
                <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose wav files</label>
            </div>
        </div>
        <span class="btn btn-dark" id="inputGroupFileAddon02">Upload wav files</span>
    </form>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
