{% extends 'progbase.html' %}
{% load static %}

{% block title %}
Upload txt
{% endblock %}

{% block style %}
{% endblock %}

{% block prebody %}
{% endblock %}

{% block navbaritems %}
    {% include "header.html" with active="txt" %}
{% endblock %}

{% block body %}
<div class="rounded shadow lighter padding">
    <!-- TODO: can we check if the files are .txt? Is there a txt for every wav file? -->
    <h3>Use CTRL+click to select multiple files:</h3>
    <form class="md-form" action="#">
        <div class="input-group mb-3">
            <div class="custom-file">
                {{form}}
                {%csrf_token%}
                <input type="file" multiple class="custom-file-input" id="inputGroupFile02">
                <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose txt files</label>
            </div>
            <button type="submit" class="btn btn-primary">Sumit</button>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
