{% extends 'base.html' %}
{% load static %}

{% block title %}
Equestria: Forced Alignment status
{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row">
        <div class="col-md-7 rounded shadow lighter padding">
            <h3>Forced alignment is running</h3>
            <p class="">Status:</p>
            <strong><p id="process-django-status"></p></strong>
            <a href="{% url "scripts:fa_redirect" project_id=project.id %}" style="display: none;" class="btn btn-primary" id="process-continue-button">Continue</a>
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-4 rounded shadow lighter padding">
            {% include "console_output.html" %}
        </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
    <script>
        var CSRF_TOKEN = "{{ csrf_token }}";
        var PROCESS_STATUS_URL = "{% url 'scripts:process_details' process=process.id %}";
    </script>
    <script src="{% static "scripts/js/process-update.js" %}"></script>
    <script src="{% static "scripts/js/validate.js" %}"></script>
    <script src="{% static "scripts/js/clock.js" %}"></script>
{% endblock %}
