{% extends 'progbase.html' %}
{% load static %}

{% block title %}
Equestria: Forced alignment
{% endblock %}

{% block prebody %}
{% include "pipeline.html" with active="forced" %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md rounded shadow lighter padding">
                <h1>Forced alignment</h1>
                {% if success %}
                    <p style="background-color: green;">Your forced alignment was successful!</p>
                    <p>You can continue to analyze forced alignment or rerun your forced alignment with changes.</p>
                {% else %}
                    <p style="background-color: red;">Your forced alignment is not finished yet.</p>
                    <p>Please finish forced alignment before continuing.</p>
                {% endif %}
                <a class="btn btn-primary" href="{% url 'upload:upload_project' project_id=project_id %}">Go back to upload files</a>
                <a class="btn btn-primary" href="{% url 'scripts:cd_screen' project_id=project_id %}">Go back to alter dictionary</a>
                <a class="btn btn-primary" href="{% url 'scripts:project_download' project_id=project_id %}">Download project archive</a>
                {% if success %}
                    <a class="btn btn-green" href="{% url 'auto_segmentation' %}">Continue</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

