{% extends 'progbase.html' %}
{% load static %}

{% block title %}
Forced Alignment
{% endblock %}

{% block navbaritems %}
{% include "header.html" with active="forced" %}
{% endblock %}

{% block body %}
    {% if fa_scripts %}
        <div class="rounded shadow lighter padding mb-3">
            <h3>Forced Alignment scripts</h3>
            {% for script in fa_scripts %}
                <div class="rounded shadow lighter padding mb-3">
                  <h3>{{ script.name }}</h3>
                  <form class="md-form" method="POST">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                      <label for="project-name">Project name</label>
                      <input type="text" id="project-name" name="project-name"/>
                      <input type="hidden" id="script-id" name="script-id" value="{{ script.id }}"/>
                      <input type="submit" value="Create" class="btn btn-primary"/>
                    </div>
                  </form>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if processes %}
        <div class="rounded shadow lighter padding mb-3">
            <h3>My projects</h3>
            {% for process in processes %}
                <div class="rounded shadow darker padding mb-3">
                    <h4>Name: {{ process.name }}</h4>
                    <p>Project status: {{ process.status_msg }}</p>
                    <a class="btn btn-primary" href="{% url "scripts:fa_project" process=process.id %}">Go to project</a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
{% endblock %}
