{% extends 'progbase.html' %}
{% load static %}

{% block title %}
Forced Alignment
{% endblock %}

{% block prebody %}
{% include "pipeline.html" with active="project" %}
{% endblock %}

{% block body %}
    {% if form %}
        <div class="rounded shadow lighter padding mb-3">
            <h3>Forced Alignment scripts</h3>
            <div class="rounded shadow lighter padding mb-3">
              <form class="md-form" method="POST">
                {% csrf_token %}
                <div class="input-group mb-3">
                  {{ form }}
                  <input type="submit" value="Create" class="btn btn-primary"/>
                </div>
              </form>
            </div>
        </div>
    {% endif %}
    {% if projects %}
        <div class="rounded shadow lighter padding mb-3">
            <h3>My projects</h3>
            {% for project in projects %}
                <div class="rounded shadow darker padding mb-3">
                    <h4>Name: {{ project.name }}</h4>
                    <a class="btn btn-primary" href="{% url 'upload:upload_project' project=project %}">Go to project</a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
{% endblock %}
