{% extends 'base.html' %}
{% load static %}

{% block title %}
Equestria: delete project
{% endblock %}


{% block body %}
<div class="container-fluid">
  <div class="row">
        <div class="col rounded shadow lighter padding">
            <h3>Are you sure you want to delete {{ project.name }}?</h3>
            <p>All contents of the project will be removed</p>
            <form method="POST">
                {% csrf_token %}
                <input type="submit" value="Delete {{ project.name }}" class="btn btn-danger"/>
            </form>
            <a class="btn btn-green" href="{% url 'scripts:project_download' project=project %}">Download project archive</a>
            <a href="{% url "scripts:projects" %}" class="btn btn-primary">Back</a>
        </div>
  </div>
</div>

{% endblock %}
