{% extends 'equestria/base.html' %}
{% load static %}

{% block title %}
    Equestria: Upload files
{% endblock %}

{% block header %}
    {% include 'equestria/header.html' with active="upload" %}
	
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>Upload files</h1>
                <h3>Upload your files {% if extensions %}({% for extension in extensions %}.{{ extension }}{% if not forloop.last %}, {% endif %}{% endfor %}){% endif %}:</h3>
                <p>Tip: Select multiple files by holding ctrl-key and clicking multiple files!</p>
                <p>Note: the corresponding files must have the same name, but different extension.</p>
                <p>For example: file.txt and file.wav.</p>
                <form class="md-form" action="{% url 'upload:upload_project' project=project %}" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <div class="custom-file">
                            {{ upload_form }}
                            {% csrf_token %}
                            <input type="submit" value="Upload files" class="btn btn-primary">
                        </div>
                    </div>
                </form>
                {% if can_start %}
                    <a class="btn btn-primary" href="{% url "scripts:start_automatic" project=project script=project.pipeline.fa_script %}">Start FA</a>
                {% else %}
                    <p class="alert alert-danger">There is currently a running process. You cannot start a new process.
                        First, wait for the current process to finish and reload this page.</p>
                    {% include 'scripts/project-continue.html' with project=project %}
                {% endif %}
                {% if removed_list %}
                    <p class="mt-3"><strong>Warning! Some files you tried to upload had the wrong extension and are therefore not saved. The following files
                    have been discarded:</strong></p>
                    <ul>
                        {% for file in removed_list %}
                            <li>{{ file }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="rounded lighter padding mt-3">
                    <h2>Current project files:</h2>
                    {% if files %}
                        {% for file in files %}
                            <p id="fileid_{{ forloop.counter }}"> {{ file }}
                                 <button class="btn-sm btn-danger" id="button" counter="{{ forloop.counter }}" file="{{ file }}">Delete</button>
                            </p>
                        {% endfor %}
                    {% else %}
                        <p>There are no files in your project yet.</p>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-4 rounded lighter padding">
                <h2>Available profiles</h2>
                <p>Below you will find the available profiles to run FA for. All required files for one profile
                need to be uploaded before you can start forced alignment.</p>
                {% for profile in profiles %}
                    <h3>Profile #{{ profile.id }}</h3>
                    <ul>
                        {% for template in profile.templates %}
                            <li>{{ template.label }}</li>
                            <ul>
                                <li>This file must have the .{{ template.extension }} extension</li>
                                {% if template.unique %}
                                    <li>This file must be unique</li>
                                {% endif %}
                                {% if template.optional %}
                                    <li>This file is optional</li>
                                {% endif %}
                            </ul>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script>
	    $(document).ready(function(){
	        $("button").click(function(){
	        	var file = $(this).attr('file');
                var counter = $(this).attr('counter');
                var filepara = document.getElementById("fileid_"+counter);
                filepara.style.display = 'none';
	        	$.ajax({
			      	url: "{% url 'upload:delete_file' project=project %}",
			      	data: { csrfmiddlewaretoken: "{{ csrf_token }}",
            				file:file,
          			},
			      	type: 'post',
			    });
	        });
	    });
	</script>
{% endblock %}

