{% extends 'equestria/base.html' %}
{% load static %}

{% block title %}
    Equestria: Upload files
{% endblock %}

{% block header %}
    {% include 'equestria/header.html' with active="upload" %}
	
{% endblock %}

{% block body %}
    <div class="container">
        <div class="rounded lighter padding">
            <h1>Upload files</h1>
            {% if upload_form %}
                <h3>Upload your files (.txt .tg .wav or .zip):</h3>
		<p>Tip: Select multiple files by holding ctr-key and clicking multiple files!</p>
		<p>Note: the corresponding files must have the same name, but different extension.</p>
		<p>For exmaple: file.txt and file.wav.</p>
                <form class="md-form" action="{% url 'upload:upload_file' project=project %}" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <div class="custom-file">
                            {{ upload_form }}
                            {% csrf_token %}
                            <input type="submit" value="Upload files" class="btn btn-primary">
                        </div>
                    </div>
                </form>
            {% endif %}
            {% if can_start %}
                <form class="md-form" method="post" enctype="multipart/form-data">
                    <div class="input-group mb-3">
                        <div class="custom-file">
                            {% csrf_token %}
                            <input type="submit" value="Continue" class="btn btn-primary">
                        </div>
                    </div>
                </form>
            {% else %}
                <p class="alert alert-danger">There is currently a running process. You cannot start a new process.
                    First, wait for the current process to finish and reload this page.</p>
                {% include 'scripts/project-continue.html' with project=project %}
            {% endif %}
            {% if removed_list %}
                <b> Warning! These files you just attempted to upload had the wrong extensions: </b> <br/>
                {% for file in removed_list %}
                    {{ file }} <br/>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <br />
	<div class="container">
		<div class="rounded lighter padding">
            {% if files %}
                <h2> Uploaded files: </h2>
                {% for file in files %}
                    <p id="fileid_{{ forloop.counter }}"> {{ file }} 
                         <button class="btn-sm btn-danger" id="button" counter="{{ forloop.counter }}" file="{{ file }}">Delete</button>
                    </p>
                {% endfor %}
            {% else %}
                <p> No files have been uploaded yet </p>
            {% endif %}
		</div>
	</div>
{% endblock %}
{% block scripts %}
<script>
	    $(document).ready(function(){
	        $("button").click(function(){
	        	var file = $(this).attr('file');
                var counter = $(this).attr('counter');
                var filepara = document.getElementById("fileid_"+counter);
                filepara.style.visibility = 'hidden';
	        	$.ajax({
			      	url: "{% url 'upload:delete_file' project=project %}",
			      	data: { csrfmiddlewaretoken: "{{ csrf_token }}",
            				file:file,
          			},
			      	type: 'post',
			    });
	        });
	    });
	</script>
{% endblock %}

