{% extends 'equestria/base.html' %}
{% load static %}

{% block title %}
    Equestria: Forgot password
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'accounts/css/centered-container.css' %}">
{% endblock %}

{% block header %}
    {% include 'accounts/authentication-header.html' %}
{% endblock %}

{% block body %}
    <div class="container-sm flex-container">
        <div class="container-centered">
            <h1>Forgot password</h1>
            <p>Please send an email to <a href="mailto:{{ admin_email }}">{{ admin_email }}</a> to reset your password.</p>
            <div class="container-fluid mb-3">
                <a class="text-center" href="{% url "accounts:login" %}">Log in</a> |
                <a class="text-center" href="{% url "accounts:signup" %}">Sign up</a>
            </div>
            <a href="{% url 'welcome' %}"> ← Back to Equestria</a>
        </div>
    </div>
{% endblock %}