{% extends 'base.html' %}
{% load static %}

{% block title %}
    Equestria: Log in
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'accounts/css/centered-container.css' %}">
{% endblock %}
{% block header %}
    {% include 'accounts/authentication-header.html' %}
{% endblock %}
{% block body %}
    <div class="container-sm flex-container">
        <div class="container-centered shadow padding">
            <h1>You are logged out</h1>
            <div class="container-fluid mb-3">
                <a class="text-center" href="{% url "accounts:login" %}">Log in</a> |
                <a class="text-center" href="{% url "accounts:signup" %}">Sign up</a> |
                <a class="text-center" href="#">Forgotten password</a>
            </div>
            <a href="{% url 'welcome' %}"> ← Back to Equestria</a>
        </div>
    </div>
{% endblock %}