{% extends 'equestria/base.html' %}
{% load static %}

{% block title %}
    Equestria: Change password
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'accounts/css/centered-container.css' %}">
{% endblock %}

{% block header %}
    {% include 'accounts/authentication-header.html' %}
{% endblock %}

{% block body %}
    <div class="container-sm flex-container">
        <div class="container-centered">
            <h1>Change password</h1>
            {% if succeeded %}
                <p class="alert alert-success">Password changed successfully</p>
                <p>Please <a href="{% url "accounts:login" %}">log in</a> to continue.</p>
            {% elif failed %}
                <p class="alert alert-danger">Password change failed</p>
            {% endif %}
            {% if not succeeded %}
                <form method="POST" class="site-form centered-form">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" class="btn btn-primary" value="Save"/>
                </form>
                <div class="container-fluid mb-3">
                    <a class="text-center" href="{% url "accounts:logout" %}">Log out</a>
                </div>
            {% endif %}
            <a href="{% url 'welcome' %}"> ← Back to Equestria</a>
        </div>
    </div>
{% endblock %}