{% extends 'progbase.html' %}

{% load static %}

{% block title %}
Automatic Segmentation
{% endblock %}

{% block style %}
{% endblock %}

{% block prebody %}
{% endblock %}

{% block navbaritems %}
    {% include "header.html" with active="segmentation" %}
{% endblock %}

{% block body %}
<div class="rounded shadow lighter padding">
    <h3>Do you want to check segmentations?</h3>
    <span class="btn btn-dark">Yes</span>
    <span class="btn btn-dark">No</span>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
