<li class="nav-item {% if active == "forced" %} active {% endif %}">
  <a class="nav-link waves-effect waves-light" href="{% url 'forcedAlign:FA_form' %}">Forced Alignment</a>
</li>
<li class="nav-item {% if active == "dictionary" %} active {% endif %}">
  <a class="nav-link waves-effect waves-light" href="{% url 'fancybar:update_dictionary' %}">Update Dictionary</a>
</li>
<li class="nav-item {% if active == "segmentation" %} active {% endif %}">
  <a class="nav-link waves-effect waves-light" href="{% url 'fancybar:auto_segmentation' %}">Automatic Segmentation</a>
</li>
<li class="nav-item {% if active == "praat" %} active {% endif %}">
  <a class="nav-link waves-effect waves-light" href="{% url 'fancybar:praat_scripts' %}">Praat Scripts</a>
</li>
