{% load static %}
<nav class="mt-3 mb-3 shadow">
    <ul class="nav nav-justified">
        <li class="nav-item icon-centered {% if active == "project" %} active {% endif %}">
            <a class="nav-link waves-effect waves-light" href="{% url 'scripts:projects' %}">Select project</a>
        </li>
        <li class="icon-centered">
            <i class="fas fa-arrow-right"></i>
        </li>
        <li class="nav-item icon-centered {% if active == "upload" %} active {% endif %}">
            <a class="nav-link waves-effect waves-light" href="#">Upload files</a>
        </li>
        <li class="icon-centered">
            <i class="fas fa-arrow-right"></i>
        </li>
        <li class="nav-item icon-centered {% if active == "dictionary" %} active {% endif %}">
            <a class="nav-link waves-effect waves-light" href="#">Check dictionary</a>
        </li>
        <li class="icon-centered">
            <i class="fas fa-arrow-right"></i>
        </li>
        <li class="nav-item icon-centered {% if active == "forced" %} active {% endif %}">
            <a class="nav-link waves-effect waves-light" href="#">Forced Alignment</a>
        </li>
        <li class="icon-centered">
            <i class="fas fa-arrow-right"></i>
        </li>
        <li class="nav-item icon-centered {% if active == "segmentation" %} active {% endif %}">
            <a class="nav-link waves-effect waves-light" href="#">Automatic Segmentation</a>
        </li>
        <li class="icon-centered">
            <i class="fas fa-arrow-right"></i>
        </li>
        <li class="nav-item icon-centered {% if active == "analysis" %} active {% endif %}">
            <a class="nav-link waves-effect waves-light" href="#">Analysis</a>
        </li>
    </ul>
</nav>
<link rel="stylesheet" href="{% static 'equestria/css/pipeline.css' %}">