{% extends 'progbase.html' %}

{% load static %}

{% block title %}
Update Dictionary
{% endblock %}

{% block style %}
{% endblock %}

{% block prebody %}
{% endblock %}

{% block navbaritems %}
    {% include "header.html" with active="dictionary" %}
{% endblock %}

{% block body %}
<div class="rounded shadow lighter padding">
    <!-- TODO: which words are not in the dictionary? -> proceed accordingly -->
    <span class="btn btn-dark">Update dictionary</span>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
